.shouye {
	width: 100%;
	height: 30px;
	background: gainsboro;
	line-height: 30px;
	padding: 0px 20px;
}

.shouye a {
	font-size: 10px;
	color: #0092DC;
	font-family: "方正仿宋";
}

.shouye span {
	color: black;
}

.juese {
	width: 100%;
	height: 46px;
	line-height: 46px;
	/*background: aqua;*/
	padding: 0px 20px;
	box-sizing: border-box;
}

table,
th {
	text-align: center !important;
}
